header {
    color: skyblue;
    align-items: left;
    font-size: 10px;
}

body {
    color: rgb(80, 24, 24);
    background-color: black;
    background-color: gray;
    font-family: sans-serif;
    display: flex;
    flex-direction: justify;
}

.one {
    color: white;
    border-color: black;
    border: 2px;
    border-right: 20px;
    border-style: solid;
    background-image: url(/images/RR-perfect.jpeg);
    background-size: cover;
    font-size: 24px;
    float: left;
    height: 53vh;
    width: 20vw;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 20px;
    overflow: auto;
}

.two {
    float: right;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.three {
    width: 100%;
    line-height: 30px;
}

p {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 0.9cm;
    text-align: justify;
}

#me {
    display: flexbox;
}

#jexi-1 {
    flex-direction: left;
}

#jexi-2 {
    flex-direction: right;
}

#jexi-3 {
    flex-direction: right;
}

.Img1 {
    height: 100vh;
    width: 80vw;
}

.Image-last {
    height: 600px;
    width: 1300px;
}

ol li {
    font-size: 24px;
    list-style-type: upper-roman;
}

p {
    font-size: 16px;
}

.skip p {
    font-size: 18px;
}